---
import type { TokenPayload } from "~/utils/auth";
import type { GetAllMessages } from "../api/guestbook";
interface Props {
  user: TokenPayload | null;
  messages: GetAllMessages;
}
const { messages, user } = Astro.props as Props;
---

<div id="messages-list" class="grid grid-cols-1 gap-5 md:grid-cols-4">
  {
    messages.map((item) => (
      <div data-message-id={item.id}>
        <div class="flex min-h-[5rem] space-x-3  bg-slate3 py-3 px-3.5 text-sm  lg:rounded-lg lg:border-none lg:py-2">
          <div class="flex flex-col justify-center space-y-1">
            <div class="text-base font-medium ">{item.content}</div>
            <div class="text-slate-11 text-opacity-80 line-clamp-1 ">
              <div class="mb-2 flex items-center space-x-2">
                <p class="text-sm">
                  {item.name} /{" "}
                  {new Intl.DateTimeFormat("en-GB", {
                    dateStyle: "long",
                  }).format(new Date(item.createdAt))}
                </p>
              </div>
            </div>

            <div>
              {user && user.id === item.userId ? (
                <button
                  type="button"
                  class="rounded px-3 py-1 font-medium bg-red4 text-red-11 hover:bg-red-5"
                  data-name="delete-button"
                  data-item-id={item.id}
                  onclick={`handleDelete(${item.id})`}
                >
                  Delete
                </button>
              ) : null}
            </div>
          </div>
        </div>
      </div>
    ))
  }
</div>

<script>
  import { decreaseGmCount } from "~/atoms";

  async function handleDelete(id: string) {
    const req = await fetch("/api/message/delete", {
      method: "POST",
      body: JSON.stringify({ id: Number(id) }),
    });

    if (req.ok) {
      const element = document.querySelector(`[data-message-id="${id}"]`);
      if (element) {
        element.remove();
        decreaseGmCount();
      }
    }
  }
  if (typeof window !== "undefined") {
    let currentWindow = window as any;
    currentWindow.handleDelete = handleDelete;
  }
</script>
